@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho_menu_links {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1, 25rem;
  font-weight: 600;
  text-decoration: none;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
  display: flex;
  gap: 80px;
}

.cabecalho_menu_links:hover {
  color: #9b59b6;
  transition: all 0.5s;
}

body {
  background-color: #2c3e50;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

strong {
  color: #9b59b6;
}


.titulo_sobre_mim {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.container_paragrafo {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: justify;
  text-indent: 2rem;
  

}

.container_paragrafo2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
 
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 15%;
  height: auto;
  gap: 15px;
}

.container_intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.container_botoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.container_botoes_style {
  display: flex;
  justify-content:center;
  gap: 16px;
  width: 40%;
  border: 2px solid #9b59b6;
  border-radius: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding: 19.81px 0px;
}

.container_botoes_style:hover {
  background-color: #122a41;
  transition: all 0.5s;
}

.container_imagem {
  width: 45%;
  height: fit-content;
}

.footer_style {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: #9b59b6;
  padding: 25px;
  text-align: center;
  
}




/* Desktop */
@media (max-width: 1200px) {
   
  .cabecalho {
    padding: 6%;
  }

  .cabecalho_menu {
    justify-content: center;
}

  .container {
    flex-direction: column-reverse;
    padding: 8%;
    display: hidden;
  }

  .container_intro {
    width: auto;
  }

  .titulo_sobre_mim {
    text-align: center;
  }
}

/* Tablet */
@media (max-width: 1024px) {

     .titulo_sobre_mim {
      font-size: 2.5rem;

    } 

    .container_paragrafo {
      font-size: 1rem;
    }

    .container_paragrafo2 {
      font-size: 1.75rem;

    }

    .container_botoes_style {
      font-size: 0.9375rem;

    }

  }

/* Mobile */  
@media (max-width: 768px) {

    /* .titulo_sobre_mim {
      font-size: 2rem;

    } */

    .container_paragrafo {
      font-size: 0.9375rem;
    }

    .container_paragrafo2 {
      font-size: 1.5rem;

    }

    .container_botoes_style {
      font-size: 0.875rem;

    }


  }

